<div style="display: none">
  <svg>
    <symbol id="box-seam" width="16" height="16" fill="currentColor" class="bi bi-0-circle-fill" viewBox="0 0 16 16">
      <path d="M8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895Z"/>
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-8.012 4.158c1.858 0 2.96-1.582 2.96-3.99V7.84c0-2.426-1.079-3.996-2.936-3.996-1.864 0-2.965 1.588-2.965 3.996v.328c0 2.42 1.09 3.99 2.941 3.99Z"/>
    </symbol>
    <symbol id="list" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </symbol>
    <symbol id="close" viewBox="0 0 41.756 41.756">
      <path d="M27.948,20.878L40.291,8.536c1.953-1.953,1.953-5.119,0-7.071c-1.951-1.952-5.119-1.952-7.07,0L20.878,13.809L8.535,1.465
                  c-1.951-1.952-5.119-1.952-7.07,0c-1.953,1.953-1.953,5.119,0,7.071l12.342,12.342L1.465,33.22c-1.953,1.953-1.953,5.119,0,7.071
                  C2.44,41.268,3.721,41.755,5,41.755c1.278,0,2.56-0.487,3.535-1.464l12.343-12.342l12.343,12.343
                  c0.976,0.977,2.256,1.464,3.535,1.464s2.56-0.487,3.535-1.464c1.953-1.953,1.953-5.119,0-7.071L27.948,20.878z"/>
    </symbol>
  </svg>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer class="example-sidenav"
               mode="over"
               [fixedInViewport]="true"
               [fixedTopGap]="0"
               [fixedBottomGap]="0">
    <div class="menu__wrap-close"
         (click)="closeMenu(drawer)">
      <svg class="menu__close">
        <use xlink:href="#close"></use>
      </svg>
    </div>

    <ul class="menu">
      <li *ngFor="let parent of menu">
        <span class="menu__name" (click)="openSubmenu(parent, drawer)" [ngClass]="{'is_active': parent.is_active}">
          <span *ngIf="parent.svg" [innerHtml]="getSvgOfItemList(parent.svg)"></span>
          <span *ngIf="parent.png" class="icon-png">
            <img [src]="parent.png" alt="icon">
          </span>
          {{parent.name}}
          <mat-icon *ngIf="parent.items.length">{{parent.showSubMenu ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
        </span>
        <ul class="submenu" *ngIf="parent.showSubMenu">
          <li *ngFor="let firstChild of parent.items">
            <span class="menu__name" (click)="openSubmenu(firstChild, drawer)" [ngClass]="{'is_active': firstChild.is_active}">
              <span *ngIf="firstChild.svg" [innerHtml]="getSvgOfItemList(firstChild.svg)"></span>
              <span *ngIf="firstChild.png" class="icon-png">
                <img [src]="firstChild.png" alt="icon">
              </span>
              {{firstChild.name}}
              <mat-icon *ngIf="firstChild.items.length">{{firstChild.showSubMenu ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
            </span>
            <ul class="submenu" *ngIf="firstChild.showSubMenu">
              <li *ngFor="let secondChild of firstChild.items">
                <span class="menu__name" (click)="openSubmenu(secondChild, drawer)" [ngClass]="{'is_active': secondChild.is_active}">
                  <span *ngIf="secondChild.svg" [innerHtml]="getSvgOfItemList(secondChild.svg)"></span>
                  <span *ngIf="secondChild.png" class="icon-png">
                    <img [src]="secondChild.png" alt="icon">
                  </span>
                  {{secondChild.name}}
                  <mat-icon *ngIf="secondChild.items.length">{{secondChild.showSubMenu ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
                </span>
                <ul class="submenu" *ngIf="secondChild.showSubMenu">
                  <li *ngFor="let third of secondChild.items">
                    <span class="menu__name" (click)="openSubmenu(third, drawer)" [ngClass]="{'is_active': third.is_active}">
                      <span *ngIf="third.svg" [innerHtml]="getSvgOfItemList(third.svg)"></span>
                      <span *ngIf="third.png" class="icon-png">
                        <img [src]="third.png" alt="icon">
                      </span>
                      {{third.name}}
                      <mat-icon *ngIf="third.items.length">{{third.showSubMenu ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </mat-sidenav>
  <div class="example-sidenav-content">
    <div class="example-sidenav-content__header">
      <div class="burger-menu">
        <div (click)="openMenu(drawer)" class="btn">
          <div class="icon-bar" [@hamburguerX]="isHamburger ? 'hamburguer' : 'topX'"></div>
          <div class="icon-bar" [@hamburguerX]="isHamburger ? 'hamburguer' : 'hide'"></div>
          <div class="icon-bar" [@hamburguerX]="isHamburger ? 'hamburguer' : 'bottomX'"></div>
        </div>
      </div>
      <div class="header-line"></div>
    </div>
    <div class="container-view">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
