<div class="development-view" [@showAnimate]>
  <div class="development-container">
    <div class="development-wrap">
      <div class="development__left-block">
        <h1 class="development__title">
          {{'Страница не найдена'}}
        </h1>

        <p class="default__text">
          {{'Страница, которую вы запрашиваете, не существует.'}} <br>
          {{'Возможно она устарела, была удалена, или был введен неверный URL-адрес.'}}
        </p>
      </div>
      <div class="development__right-block">
        <img src="/assets/images/errors/error_404.svg" alt="" class="development__img">
      </div>
    </div>
  </div>
</div>
