<div class="development-view" [@showAnimate]>
  <div class="development-container">
    <div class="development-wrap">
      <div class="development__left-block">
        <h1 class="development__title">
          {{'Доступ запрещен'}}
        </h1>

        <p class="default__text">
          {{'У вас нет доступа к этой странице.'}}
        </p>
        <p class="default__text">
          {{'Вы запросили страницу, доступ к которой ограничен специальными правами. Возможно, это закрытая  группа или личные файлы пользователя.'}}
        </p>
      </div>
      <div class="development__right-block">
        <img src="/assets/images/errors/error_403.svg" alt="" class="development__img">
      </div>
    </div>
  </div>
</div>
